*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.categories--section{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.categories--head{
    padding: .2rem 4rem;
    align-items: center;
    display: flex;
    margin-bottom: 6rem;
    margin-top: 5rem;
    width: 100%;
}

.categories--title{
    font-size: 2.7rem;
    margin: 0 auto;
    text-align: center;
}

.back--to--btn{
    color: #000;
    font-size: 1.6rem;
    text-align: left;
    text-decoration: none;
    list-style: none;
}

.back--to--btn:hover{
    color:#a7bcb9;
}

.filter--btns{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    width: 100%;
}

.filter--btn{
    color: #000;
    font-size: 1.6rem;
    text-decoration: none;
    background-color: initial;
    border: 2px solid rgba(0,0,0,.3);
    cursor: pointer;
    padding: .6rem 1.6rem;
    transition: all .2s;
}

.filter--btn:hover{
    outline: 2px solid #706f7b;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
}

.all--products{
    padding: 5rem 0;
}

.products--items--list{
    margin: 0 auto;
    padding: 0 120px;
}

.all--items{
    grid-gap: 2rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr ;
}

.comimgsoon--section {
    font-size: 2.7rem;
    margin: 0 auto;
    text-align: center;

    padding: 4rem;
    justify-content: center;
    text-align: center;
    font-size: 15px;
 
}

.product {
    position: relative;
    height: 300px;
    width: 250px;
    cursor: pointer;
    outline: 2px solid rgba(0, 0, 0, 0.205);
    outline-offset: -2px;
    transition: all 0.15s ease-in;
    display: block;
    text-align: center;
  }

  .product:hover {
    outline: 2px solid #706f7b;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
}

.product-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    font-weight: 600;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
  }
  
  .item-img {
    height: 280px;
    width: 220px;
    margin-top: 10px;
  }
  
  .item-price .item-name {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: whitesmoke;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 5px;
  }
  
  .item-name{
    font-size: 1.5rem;
  }
  
  @media (max-width: 767px) {
    .all--items{
        grid-gap: 2rem;
        display: grid;
        gap: 2rem;
        grid-template-columns: 1fr 1fr;
    }
  }
  