.product--container {
    padding: 4rem;
  }
  
  .products--items {
    display: flex;
    align-items: center;
    height: 30rem;
    width: 100%;
    justify-content: space-between;
    overflow: hidden;
  }
  
  .productCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
  }
  
  .product--left--side {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .product--right--side {
    height: 100%;
    width: 50%;
    background-color: #f0ece2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 11rem;
    text-align: start;
  }
  
  .item-price {
    margin-top: 0.5rem;
  }
  
  

  .counter {
    border: 1px solid #000;
    display: flex;
    
}

.counter > button {
  background-color: #fff;
  border: none;
  color: #000;
  cursor: pointer;
  font-size: 3rem;
  height: 5.5rem;
  transition: all .2s;
  width: 5.5rem;

    
}

.counter > button:hover {
    background-color: #1a2639;
    color: #D9D9D9;
}

.counter > button:focus {
    outline: none;
}

.counter--count {
  height: 5rem;
  outline-offset: -2px;
  padding-top: 10px;
  text-align: center;
  width: 6rem;
  
}



.add--to--card{
    background-color: #596e79;
    border: 2px solid #000;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    
    padding: 1rem;
    text-transform: uppercase;
    transition: all .15s;
    text-decoration: none;
}

.add--to--card:hover{
  background-color: whitesmoke;
  border: 2px solid #000;
  color: #596e79;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 1);
}

